.contact-container{
    color: white;
    font: 30px / 45px Montserrat-Regular, sans-serif;
}

.contact-div{ 
    display: flex;
    flex-direction: row;
}

.contact-detail {
    margin-left: 3rem;
    margin-right: 2rem;
    margin-top: 5rem;
    width: 50%;
}
.contact-name {
    font: 50px / 45px Montserrat-Regular, sans-serif;
    margin-bottom: 2rem ;
}
.contact-msg {
    font: 20px / 25px Montserrat-Regular, sans-serif;
    margin-bottom: 2rem ;
}

.contact-email {
    font: 20px / 25px Montserrat-Regular, sans-serif;
    margin-bottom: 2rem ;
}

.contact-num {
    font: 20px / 25px Montserrat-Regular, sans-serif;
    margin-bottom: 2rem ;
}
.contact-icon{
    color: white;
    margin: 1rem;
}

.contact-form {
    margin-right: 4rem;
    width: 50%;
}

.form-label {
    font: 25px / 30px Montserrat-Regular, sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.form-input {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    transition: border-color 0.3s ease;
    width: 25rem;
    font: 25px / 30px Montserrat-Regular, sans-serif;
}
.select-form {
    height: 2rem;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    max-height: 100px;
    min-height: 100px;
    padding: 10px 0px 10px 0;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
  }
  .contact-button {
    background-color: black;
    color: white;
    width: 8rem;
    height: 5rem;
    margin-bottom: 30rem ;
    margin-top: 2rem;
    border: 1px solid rgb(220, 220, 220);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    font: 15px / 20px Montserrat-Regular, sans-serif;
  }

                                                    /* Media Query  */


